body {
  background: lightgray;
  margin: 0;
  padding: 0;
}

#tabs-settings,
#tabs-about,
#tabs-rules {
  position: relative;
  overflow: auto;
  height: 90%;

}

#rulesMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  margin: 20px 10px 20px 10px;
  padding: 5px;
}

#rulesList {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 77%;
  margin: 22px 10px 20px 10px;
  padding: 5px;
  z-index: 0;
  text-align: center;
}

small {
  color: #d3d3d3;
}

.contentDiv {
  min-height: 2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.3em;
  border:solid 1px #aaaaaa;
  padding: 0.5em;
}

#newRuleList,
#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}


#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  margin: 0.8em;
  text-align: left;
  font-size: 1em;
}

#newRuleList li {
  padding: 0.4em;
  font-size: 1.4em;
  margin: 0.8em;
  text-align: left;
  font-size: 1em;
  display: list-item;
  margin-left: -0.5em;
}

#newRuleList .ui-icon {
  display: inline-block;
}

#icmpDrag li span,
#tcpUdpDrag li span,
#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

#icmpDrag,
#tcpUdpDrag {
  width: 300px;
}

.centerSmall {
  text-align: center;
}